@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  text-align: center;
  padding: 70px;
  @media (max-width: 425px) {
    padding: 40px;
  }
}
.form {
  padding: 0 0 200px 0;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-title {
  font-size: 50px;
  font-weight: 500;
  margin: 0 0 15px;
  @media (max-width: 500px) {
    font-size: 35px;
    font-weight: 600;
  }
}
.subtitle {
  font-size: 18px;
}
.subtitle span {
  color: rgba(0, 0, 150, 0.9);
}
.square {
  background-color: rgba(0, 0, 255, 0.075);
  border-radius: 5px;
  padding: 50px;
}
.square-text {
  position: relative;
}
.square-text:first-child::before {
  content: "Макс. 200 м²";
  position: absolute;
  font-size: 17px;
  color: rgb(119, 119, 119);
  font-weight: 400;
  top: -30px;
}
.square-top {
  margin: 0 0 30px;
}
.square-input {
  width: 100px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(100, 100, 255);
  padding: 10px;
  transform: translate(0, -1px);
}
.square-range {
  width: 100%;
}
.item {
  padding: 50px;
}
.item-text {
  padding: 15px;
  margin: 0 0 0 -14px;
  display: inline-block;
}
.item-subtext {
  color: rgb(158, 158, 158);
}
.title {
  font-size: 25px;
  font-weight: 600;
  padding: 0 0 15px;
}
.input {
  cursor: pointer;
  display: none;
}
.label {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.label-top {
  width: 175px;
  padding: 0 0 0 40px;
}
.input:checked + .label::after {
  background-color: rgba(0, 0, 0, 0.75);
}
.label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  transition: all 0.1s ease;
}
.label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2px;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: #fff;
  transition: all 0.1s ease;
}
.label-span {
  padding: 0 0 0 40px;
  display: block;
  color: rgb(158, 158, 158);
  font-size: 16px;
  line-height: 25px;
}
.home {
  background-color: rgba(0, 0, 255, 0.075);
  border-radius: 5px;
}
.room-title {
  margin: 0 0 10px;
}
.room-row {
  display: flex;
  gap: 10px;
}
.room-label {
  cursor: pointer;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.3);
}
.room-column {
  display: none;
}
.room-column:checked + .room-label {
  background-color: rgba(0, 135, 137, 0.7);
  color: rgb(255, 255, 255);
}
.icon-check:before {
  content: "\e900";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin: 0px 0px 0px 1px;
}
.more-label {
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.more-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 30%;
  transition: all 0.1s ease;
}
.input:checked + .more-label::before {
  background-color: rgba(0, 0, 0);
}
.more {
  background-color: rgba(0, 0, 255, 0.075);
  border-radius: 5px;
}
.sum {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 50px 50px 50px 100px;
  background-color: #fff;
  box-shadow: rgb(0 0 0) 0px -3px 15px -10px;
  @media (max-width: 425px) {
    padding: 25px 35px 35px 50px;
  }
}
.sum-cost {
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 10px;
}
.sum-count {
  font-size: 22px;
}
